**IMPORT MODULES AND LIBRARIES**

In [184]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**READ THE DATA**

In [185]:
a=pd.read_csv("/content/data.csv")

In [186]:
a.head(5)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

**CHECK FOR NULL VALUES**

In [187]:
a.isnull()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4596,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4597,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4598,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4599,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [188]:
a.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [189]:
a.isnull().sum().sum()

0

**CHECK FOR DUPLICATED VALUES**

In [190]:
a[a.duplicated()]

Empty DataFrame
Columns: [date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, sqft_above, sqft_basement, yr_built, yr_renovated, street, city, statezip, country]
Index: []

**PRINT THE COLUMNS IN THE DATASET**

In [191]:
a.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

**FIND NUMERICAL AND CATEGORICAL FEATURES**

In [192]:
numerical_features=[i for i in a.columns if a[i].dtype!='O']
categorical_features=[i for i in a.columns if a[i].dtype=='O']

**NUMERICAL FEATURES**

In [193]:
numerical_features

['price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated']

**CATEGORICAL FEATURES**

In [194]:
categorical_features

['date', 'street', 'city', 'statezip', 'country']

In [195]:
a['country'].value_counts()

USA    4600
Name: country, dtype: int64

**CREATE X AND Y DATAFRAME**

In [196]:
X=a[['date','bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip']]
Y = a['price']

In [197]:
Y.shape #It is in 1D format so converting to 2D

(4600,)

**IMPORT STANDARD SCALER**

In [198]:
from sklearn.preprocessing import StandardScaler

In [199]:
s=StandardScaler()

In [200]:
y=s.fit_transform(pd.DataFrame(Y))

In [201]:
y.shape #y is converted to 2D

(4600, 1)

In [202]:
pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.10/dist-packages (2.6.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.5.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.1)

**IMPORT MEstimateEncoder**

In [203]:
from category_encoders import MEstimateEncoder

In [204]:
encoder = MEstimateEncoder(cols=['street','statezip','city','date'],m=0.5)
encoder.fit(X,Y)
x = encoder.transform(X)

In [205]:
x.head(5)

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,525734.212613,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,3.926543e+05,420925.038640,375382.589956
1,525734.212613,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,1.773321e+06,579828.609806,910780.097527
2,525734.212613,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,4.119877e+05,439795.599753,321396.799516
3,525734.212613,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,4.639877e+05,846665.448904,602458.148401
4,525734.212613,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,5.506543e+05,667403.915787,637239.879032

In [206]:
from sklearn.model_selection import train_test_split

**SPLIT THE DATA INTO TRAIN AND TEST**

In [207]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size=0.24, random_state=1)

**IMPORT LINEAR REGRESSION**

In [208]:
from sklearn.linear_model import LinearRegression

In [209]:
l=LinearRegression()

In [211]:
B=l.fit(X_train,Y_train)

In [212]:
Y_pred=l.predict(X_test)

**IMPORT ACCURACY_SCORE**

In [213]:
from sklearn.metrics import accuracy_score

**ACCURACY_SCORE**

In [214]:
B.score(X_test,Y_test)

0.9972765845961721